[program:anyway]
command=python main.py testserver
process_name=%(program_name)s_%(process_num)d
numprocs={{ app_process_count }}
directory=/var/www/anyway
user=www-data
autostart=true
autorestart=true
environment=DATABASE_URL="{{ anyway_db }}",PORT="808%(process_num)d",FACEBOOK_KEY="{{ FACEBOOK_KEY }}",FACEBOOK_SECRET="{{ FACEBOOK_SECRET }}",GOOGLE_LOGIN_CLIENT_ID="{{ GOOGLE_LOGIN_CLIENT_ID }}",GOOGLE_LOGIN_CLIENT_PASS="{{ GOOGLE_LOGIN_CLIENT_PASS }}",MAILUSER="{{ MAILUSER }}",MAILPASS="{{ MAILPASS }}"
