127.0.0.1 localhost {{ inventory_hostname }} {{ inventory_hostname_short }}

10.8.100.67     iron.hasadna.org.il web11.anyway.co.il
10.8.151.131    cobalt.hasadna.org.il db11.anyway.co.il

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
